/* src/styles/global.css */

/* src/styles/global.css */
.bg-gradient {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}
.shadow-custom {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}
/* 
body {
  font-family: 'Arial', sans-serif;
  background: #0d0d0d;
  color: white;
  margin: 0;
  overflow-x: hidden;
} */

/* src/App.css or src/styles/AppStyles.css */
.container-bg {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  padding: 20px; /* Optional padding */
  border-radius: 8px; /* Optional rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Optional shadow */
  color: white; /* Text color */
}

/* src/styles/global.css */
.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff7e5f;
  position: absolute;
  pointer-events: none;
  transition: transform 0.1s ease;
}

/* src/styles/global.css */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.relative {
  position: relative;
  z-index: 0;
}
